/* add more */
.container-a1, .container-b1,
.container-a2, .container-b2 {
    margin: 0;
	padding: 5px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.row{
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
    padding: 1%;
}

.col {
	display: flex;
	justify-content: space-evenly;
    flex-wrap: wrap;
}

.col {width: 100%;}
.col-1 {width: 73%;}
.col-2 {width: 48%;}
.col-3 {width: 30,33%;}
.col-4 {width: 25%;}

h1, h2, h3, h4, h5 {text-align: center;}
div h5 {font-size: 16px; font-weight: 600; padding-bottom: 7px;}
div h4 {font-size: 20px; font-weight: 650; padding-bottom: 7px;}
div h3 {font-size: 24px; font-weight: 700; padding-bottom: 7px;}
div h2 {font-size: 28px; font-weight: 800; padding-bottom: 7px;}
div h1 {font-size: 32px; font-weight: 900; padding-bottom: 7px;}

div a {
	cursor: pointer;
    text-decoration: none;
    color: inherit;
	padding: 7px;
}

div p {
    line-height: 1.3rem;
	padding-bottom: 10px;
}


/* for mobile phone */
@media screen and (max-width: 1024px) {
	.col-3 {width: 48%;}
}
