:root {
  --main-color: #198754;
  --second-color: #f3f5f4;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  font-weight: bold;
}

section,
.container {
  overflow: hidden;
}

h2 {
  text-align: center;
}

.col-md-3 {
  padding-bottom: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* JUMBOTRON */
.jumbotron {
  padding-top: 6rem;
  background-color: #198754;
  text-align: center;
}

.jumbotron img {
  border-radius: 50%;
  border: white solid 4px;
  width: 200px;
}

.jumbotron img:hover {
  box-shadow: 0 0 8px 5px #e2edff;
  border: 3px solid #198754;
}

.jumbotron h2,
.jumbotron p {
  text-shadow: 1px 1px 1px black;
  text-align: center;
  color: #eaeaea;
}

.jumbotron h2:hover {
  font-weight: bold;
  cursor: pointer;
}

.jumbotron p {
  font-size: 16px;
  transition: 1s;
}

.jumbotron p:hover {
  transition: 1s;
  font-size: 20px;
}

/* dokumentasi */
#dokumentasi {
  background-color: var(--main-color);
}

section .container img {
  border-radius: 5px;
  box-shadow: 10px 10px 10px 5px var(--second-color);
}
