:root {
  --background-a1: #198754;
  --color-a1: rgba(255, 255, 0, 0.589);
  --background-b1: #eaeaea;
  --color-b1: rgba(53, 53, 8, 0.589);
}

.container-a1 {
  background-color: var(--background-a1);
  color: var(--color-a1);
  margin: 0.2rem;
}

.container-b1 {
  background-color: var(--background-b1);
  color: var(--color-b1);
  margin: 0.2rem;
}

/* tag a */

.container-a1 a {
  font-weight: 600;
  text-shadow: 0.2px 0.2px 0.2px var(--background-b1);
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--background-b1);
}

.container-a1 a:hover {
  background-color: var(--background-b1);
  color: var(--color-b1);
  box-shadow: 2px 2px 5px var(--color-b1), -2px -2px 5px var(--color-b1);
}

.container-b1 a {
  font-weight: 600;
  text-shadow: 0.2px 0.2px 0.2px var(--background-a1);
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--background-a1);
}

.container-b1 a:hover {
  background-color: var(--background-a1);
  color: var(--color-a1);
  box-shadow: 2px 2px 5px var(--color-a1);
}

/* tag i */
.container-a1 i {
  color: var(--background-b1);
  text-shadow: 2px 2px 5px var(--color-b1);
}

/* cover */
#cover img {
  width: 150px;
  border-radius: 50%;
  margin: 2rem 0 0.3rem 0;
}

/* mtq */
#mtq {
  text-align: center;
}

/* mtq-batutaba */
#mtq-batutaba {
  text-align: center;
}

#mtq-batutaba i {
  font-size: 3.5rem;
  padding-bottom: 10px;
}

/* sponsor */
#sponsor img {
  width: 100px;
  border-radius: 50%;
}
